<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Makale Paylaşım Sitesi Admin Paneli
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>

                <li>
                    <a href="https://localhost:7009/Default/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Website Ana Sayfası</span></a>
                    <a href="https://localhost:7009/Admin/AdminProfile/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Profil</span></a>
                    <a href="https://localhost:7009/Admin/AdminAppUser/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Kullanıcılar</span></a>
                    <a href="https://localhost:7009/Admin/AdminDepartment/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Bölümler</span></a>
                    <a href="https://localhost:7009/Admin/AdminArticle/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Makaleler</span></a>
                    <a href="https://localhost:7009/Admin/AdminTagCloud/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Etiketler</span></a>
                    <a href="https://localhost:7009/Admin/AdminAbout/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Hakkımda</span></a>
                    <a href="https://localhost:7009/Admin/AdminFaq/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Sık Sorulan Sorular</span></a>
                    <a href="https://localhost:7009/Admin/AdminContact/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>İletişim</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
