@model List<ResultTagCloudDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Makale Etiket Listesi</h4>
                        <a href="/Admin/AdminTagCloud/CreateTagCloud/" class="btn btn-outline-primary">Yeni Etiket Girişi</a>

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Etiket Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Etikete sahip makaleler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>
                                            <td><a href="/Admin/AdminTagCloud/RemoveTagCloud/@item.TagCloudId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminTagCloud/UpdateTagCloud/@item.TagCloudId" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/Admin/AdminTagCloud/UserArticles/@item.TagCloudId" class="btn btn-outline-dark">Etikete sahip makaleler</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>
