
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>

    
    @await Component.InvokeAsync("_GetLast3ArticleWithAuthorsComponentPartial")

</body>
</html>
